set clipboard+=unnamed
set ignorecase
set incsearch
set noerrorbells
set showmode
set smartcase
set surround
set visualbell

let mapleader = " "
nnoremap <leader>b     :action GotoDeclaration<CR>
nnoremap <leader>B     :action GotoTypeDeclaration<CR>
nnoremap <leader>u     :action FindUsages<CR>
nnoremap <leader>t     :action ExpressionTypeInfo<CR>
