[user]
    name = Henry Till
    email = henrytill@gmail.com
    signingkey = 67D03863B46657BC4CE57C4DF1CE276596CE0D8A
[push]
    default = simple
[alias]
    allpush = ! git remote | xargs -L1 git push
[rebase]
    autosquash = true
[core]
    excludesfile = ~/.gitignore_global
[transfer]
    fsckObjects = true
[fetch]
    fsckObjects = true
[receive]
    fsckObjects = true
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[commit]
	gpgsign = true
