[submodule "emacs/.emacs.d/site-lisp/compile-commands"]
	path = emacs/.emacs.d/site-lisp/compile-commands
	url = https://github.com/henrytill/compile-commands.git
[submodule "nvim/.config/nvim/pack/nvim/start/nvim-lspconfig"]
	path = nvim/.config/nvim/pack/nvim/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
