*~
.\#*
\#*\#
*.bak
*.elc

.DS_Store

/emacs/.emacs.d/.newsrc-dribble
/emacs/.emacs.d/.smex-items
/emacs/.emacs.d/abbrev_defs
/emacs/.emacs.d/ac-comphist.dat
/emacs/.emacs.d/auto-save-list
/emacs/.emacs.d/backups
/emacs/.emacs.d/bookmarks
/emacs/.emacs.d/elpa
/emacs/.emacs.d/ensime
/emacs/.emacs.d/eshell/history
/emacs/.emacs.d/eshell/lastdir
/emacs/.emacs.d/helm-adaptive-history
/emacs/.emacs.d/ido.last
/emacs/.emacs.d/mail
/emacs/.emacs.d/news
/emacs/.emacs.d/places
/emacs/.emacs.d/projectile*
/emacs/.emacs.d/recentf
/emacs/.emacs.d/tramp
/emacs/.emacs.d/url

*.swp
