[submodule "emacs/.emacs.d/site-lisp/geiser"]
	path = emacs/.emacs.d/site-lisp/geiser
	url = https://github.com/jaor/geiser.git
[submodule "emacs/.emacs.d/site-lisp/cider"]
	path = emacs/.emacs.d/site-lisp/cider
	url = https://github.com/clojure-emacs/cider.git
[submodule "emacs/.emacs.d/site-lisp/slime"]
	path = emacs/.emacs.d/site-lisp/slime
	url = https://github.com/slime/slime.git
[submodule "emacs/.emacs.d/site-lisp/use-package"]
	path = emacs/.emacs.d/site-lisp/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "emacs/.emacs.d/site-lisp/projectile"]
	path = emacs/.emacs.d/site-lisp/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "vim/.vim/bundle/vim-pathogen"]
	path = vim/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/.vim/bundle/vim-scala"]
	path = vim/.vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "vim/.vim/bundle/vim-inl"]
	path = vim/.vim/bundle/vim-inl
	url = https://github.com/henrytill/vim-inl.git
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "emacs/.emacs.d/site-lisp/PG"]
	path = emacs/.emacs.d/site-lisp/PG
	url = https://github.com/ProofGeneral/PG.git
