*~
.\#*
\#*\#
*.bak
*.elc

.DS_Store

/emacs/.emacs.d/.newsrc-dribble
/emacs/.emacs.d/.org-id-locations
/emacs/.emacs.d/.smex-items
/emacs/.emacs.d/abbrev_defs
/emacs/.emacs.d/ac-comphist.dat
/emacs/.emacs.d/auto-save-list
/emacs/.emacs.d/backups
/emacs/.emacs.d/bookmarks
/emacs/.emacs.d/custom.el
/emacs/.emacs.d/elpa
/emacs/.emacs.d/ensime
/emacs/.emacs.d/eshell/history
/emacs/.emacs.d/eshell/lastdir
/emacs/.emacs.d/helm-adaptive-history
/emacs/.emacs.d/ido.last
/emacs/.emacs.d/irony
/emacs/.emacs.d/mail
/emacs/.emacs.d/news
/emacs/.emacs.d/nix-buffer
/emacs/.emacs.d/org-clock-save.el
/emacs/.emacs.d/places
/emacs/.emacs.d/projectile*
/emacs/.emacs.d/recentf
/emacs/.emacs.d/session.*
/emacs/.emacs.d/smex-items
/emacs/.emacs.d/server
/emacs/.emacs.d/tramp
/emacs/.emacs.d/transient
/emacs/.emacs.d/url
/emacs/.emacs.d/network-security.data
/emacs/.emacs.d/todo

*.swp
