Emacs.fontBackend:          xft
Emacs.font:                 Fira Mono:style=Regular:pixelsize=14
Emacs.internalBorder:       14
Emacs.menuBar:              off
Emacs.toolBar:              off
Emacs.verticalScrollBars:   off

Xft.antialias:              true
Xft.autohint:               false
Xft.dpi:                    96
Xft.hinting:                true
Xft.hintstyle:              hintslight
Xft.lcdfilter:              lcddefault
Xft.rgba:                   rgb
