Emacs.background:           #222222
Emacs.foreground:           #bbbbbb

Emacs.font:                 Inconsolata:style=Medium:pixelsize=16
Emacs.fontBackend:          xft
Emacs.internalBorder:       16
Emacs.menuBar:              off
Emacs.toolBar:              off
Emacs.verticalScrollBars:   off

URxvt.background:           #222222
URxvt.foreground:           #bbbbbb
URxvt.color11:              #ffffaf
URxvt.color12:              #005577
URxvt.color13:              #875fff
URxvt.color14:              #5fd7ff

URxvt.boldFont:             xft:Inconsolata:style=Medium:pixelsize=16, \
                            xft:DejaVu Sans Mono:style=Book:pixelsize=16,\
                            xft:FreeSans:style=Regular:pixelsize=16,\
                            xft:FreeSerif:style=Regular:pixelsize=14,\
                            xft:Unifont:style=Regular:pixelsize=16
URxvt.font:                 xft:Inconsolata:style=Medium:pixelsize=16, \
                            xft:DejaVu Sans Mono:style=Book:pixelsize=16,\
                            xft:FreeSans:style=Regular:pixelsize=16,\
                            xft:FreeSerif:style=Regular:pixelsize=14,\
                            xft:Unifont:style=Regular:pixelsize=16
URxvt.internalBorder:       16
URxvt.iso14755:             false
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.perl-ext:             url-select
URxvt.scrollBar:            false
URxvt.scrollTtyKeypress:    true
URxvt.scrollTtyOutput:      false
URxvt.scrollWithBuffer:     true
URxvt.url-select.launcher:  xdg-open
URxvt.url-select.underline: true
