Xft.antialias: true
Xft.autohint: false
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

UXTerm*faceName: Mx437 IBM VGA 8x16
UXTerm*faceSize: 12
UXTerm*renderFont: true

UXTerm*boldColors: false
UXTerm*colorBDMode: false
UXTerm.termName: xterm-256color
UXTerm.omitTranslation: fullscreen

! https://www.gnu.org/software/emacs/manual/html_node/efaq/Meta-key-does-not-work-in-xterm.html
UXTerm*eightBitInput: false
UXTerm*eightBitOutput: true

UXTerm*background: #000000
UXTerm*foreground: #ffffff

! Local Variables:
! compile-command: "xrdb -load x11/.Xresources"
! End:
