XTerm*font:                 -misc-fixed-medium-r-semicondensed--13-120-75-75-c-60-iso10646-1
XTerm*boldFont:             -misc-fixed-bold-r-semicondensed--13-120-75-75-c-60-iso10646-1

Emacs.background:           #222222
Emacs.foreground:           #bbbbbb

Emacs.font:                 -misc-fixed-medium-r-semicondensed--13-120-75-75-c-60-iso10646-1
Emacs.internalBorder:       14
Emacs.menuBar:              off
Emacs.toolBar:              off
Emacs.verticalScrollBars:   off

XTerm*eightBitInput:        false
XTerm*eightBitOutput:       true
XTerm*termName:             xterm-256color
XTerm*utf8:                 1

XTerm*background:           #222222
XTerm*foreground:           #bbbbbb
XTerm*color4:               #5fd7ff
XTerm*color11:              #ffffaf
XTerm*color12:              #005577
XTerm*color13:              #875fff
XTerm*color14:              #5fd7ff
