Emacs.font:                 -misc-fixed-medium-r-semicondensed--13-120-75-75-c-60-iso10646-1
Emacs.internalBorder:       14
Emacs.menuBar:              off
Emacs.toolBar:              off
Emacs.verticalScrollBars:   off

XTerm*font:                 -misc-fixed-medium-r-semicondensed--13-120-75-75-c-60-iso10646-1
XTerm*boldFont:             -misc-fixed-bold-r-semicondensed--13-120-75-75-c-60-iso10646-1
XTerm*internalBorder:       14
XTerm*eightBitInput:        false
XTerm*eightBitOutput:       true
XTerm*termName:             xterm-256color
XTerm*utf8:                 1
XTerm.VT100.geometry:       100x60+10+10
