.emacs.d/auto-save-list/
.emacs.d/backups/
.emacs.d/eln-cache/
.emacs.d/elpa/
.emacs.d/history
.emacs.d/ielm-history.eld
.emacs.d/projects
.emacs.d/recentf
.emacs.d/tramp
.emacs.d/transient/
.emacs.d/tree-sitter/
